    html {
        height: 100vh;
        width: 100vw;
      }
                
                body {
          font-family: 'Open Sans', serif;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;
          -webkit-font-smoothing: antialiased;
          overflow: -moz-scrollbars-none;
          -ms-overflow-style: none;
          background-color: rgb(229, 229, 229);
        }

      ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:  rgba(255, 164, 73, 1);
          }
          .logo {
            float: left;
            padding: 0px 0;
            height: 75px;
            width: 74px;
            margin-left: 5%;
          }
          li {
            float: right;
          }
          
          li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 35px;
            margin-right: 100px;
          }
          
          li a:hover {
            color: rgba(112, 112, 112, 1);
          }
          form{
            
              margin: 0 auto;
              width:fit-content;
              margin-top: 5%;
              border: 5px solid rgba(255, 164, 73, 1);
              padding: 50px;
              align-items: center;
              
            
          }
          .button {
            background-color: rgba(255, 164, 73, 1);
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
          }
          a.createEvent{
            width:50%;
          }
          .button:hover{
            color: rgba(112, 112, 112, 1); 
          }


/* drop down menu for account type formatting */
/*          nav ul li a {
                             display: block;
                             font-family: 'Open Sans', serif;
                             color: black;
                             text-decoration: none;
                             font-size: 16px;
                             padding: 15px 32px;
                             
                }
*/

      .accountManage {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin: 0 auto;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      overflow-x: auto;
      overflow-y: auto;
     background-color: rgba(255, 255, 255, 1);
      width: 70%;
      clear: both;
    height: 100%;
    left: 0px;
    top: 0px;

}